#root {
  color: red;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
}

.episodeCard {
  display: flex;
  width: auto;
  justify-content: center;
}

.titleAlign {
  display: flex;
}

.episodeNumber {
  display: flex;
}

.cardPic {
  display: flex;
}

.cardSumm {
  display: flex;
}
